<!-- expand -->
<div class="ui segment">
    <div>

        <div id="drop" >   
            <div id="imgBox" class="ui grid stackable four column grid">
            </div>
        </div>

        <div class="item">
            <i class="expand icon"></i>Text
            <front></front>
        </div>
        
        <div class="ui segment">
            <div id="resultBox" class="description">
                
            </div>
          </div>

        <div id="form">
            <input type="file" name="file" hidden>
            <div class="field">
                <select id="lang" class="ui fluid search dropdown" name="lang">
                  <option value="ko">Ko</option>
                  <option value="jp">Jp</option>
                  <option value="en">En</option>
                </select>
            </div>
            <br>
            <button id="submit" type="submit" class="fluid ui blue button">upload</button>
            <br>
            <button type="submit" class="fluid ui button">Changed</button>
        </div>
    </div>
</div>