<div class="ui register modal">
    <i class="close icon"></i>
    <div class="header">
      Register
    </div>   
    <div class="description">
      <div class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="regi-username" placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="regi-password" placeholder="Password">
            </div>
          </div>
          <input id="formRegister" type="submit" class="ui fluid large submit button">
          <br>
          <div id="moveLogin" class="ui fluid large teal submit button">Login</div>
        </div>
      </div>

    </div>
    <div class="actions">
      <div class="ui black deny button">
        <i class="close icon"></i>
        Close
      </div>
    </div>
  </div>